.containter{
    display: flex;
    flex-direction : column;
    min-height: 100vh;

}

.appHeader {
    height: 100px;
}

.appNavigation{
    background-color: yellow;
    height: 100px;
}

.appMain{
    background-color: pink;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.book,.news,.board,.favorite,.twitter {
    width: 100%;
}

.appFooter{
    background-color: lime;
    height: 100px;
}

@media (min-width: 768px){
    .otherWrapper {
        width: 100%;
        display: flex;
        flex-flow:row nowrap;
        
    }   
    .book{
        background-color: skyblue;
        width: 30%;

    }
    .boardWrapper {
        width: 70%;
        background-color:grey;
        display: flex;
        flex-direction: column;
    
    
    }
    .board{
        background-color: tomato;
        order: 1;
    }

    .favoriteWrapper {
        background-color: teal;
        display: flex
        flex-diraction: row;

    }
    
    .twitter{
        order: -1;

    }
}


